body{
	margin:			0px;
}
#ani-box{
	position:		absolute;
	margin:			0px;
	top:			0px;
	width:			100%;
	z-index:		-1;
	pointer-events:	none;
}
#ani-char{
	position:		absolute;
}
.block-div{
	position:		absolute;
	width:			48px;
	height:			16px;
}
.block{
	transition:1s;
	font-size: 10px;
	font-weight: bold;
	line-height: 18px;
}
#block-canvas{
	position:		absolute;
	background-color:white;
	border:			1px solid black;
	border-radius: 	3px;
	width:			48px;
	height:			16px;
}
#block-javascript{
	position:		absolute;
	background-color:#e8b583;
	border:			1px solid black;
	border-radius: 	3px;
	width:			48px;
	height:			16px;
}
#block-css{
	position:		absolute;
	background-color:#a0ffe3;
	border:			1px solid black;
	border-radius: 	3px;
	width:			48px;
	height:			16px;
}
#block-html{
	position:		absolute;
	background-color:black;
	color:			white;
	border:			1px solid black;
	border-radius: 	3px;
	width:			48px;
	height:			16px;
}